body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0066cc;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0066cc;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

#profilePicture {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
